body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Indie Flower", cursive;
}

h2 {
  color: #a1a7c7;
}

header h2 {
  color: #b8b3db;
}

.navbar {
  background-color: #901CAD;
}

.site-footer {
  background-image: linear-gradient(#2d15e2, rgb(175, 158, 236));
  padding: 20px 0;
}

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(to top, #5637DD, #5637DD, #5637DD);
  color: white;
  margin: 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img {
  opacity: 0.2;
  max-width: 100%;
  height: auto;
  
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}


