body {
  font-family: "Coiny", sans-serif;
}

h1, h2, h3 {
  font-family: "Coiny", cursive;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

header h2 {
  color: black;
}

.navbar {
  background-color: #4d7fa0;
}

.site-footer {
  background-image: linear-gradient(#37a9dd, #91aeb6);
  padding: 20px 0;
}

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(to top, #91aeb6, #37a9dd, #37c4dd);
  color: white;
  margin: 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img {
  opacity: 0.2;
  max-width: 100%;
  height: auto;
  
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.headline {
  text-align: center;
}

